<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_User>    
            <version>1.0.0</version>
        </Ccc_User>
    </modules>
    <global>
        <models>
            <user>
                <class>Ccc_User_Model</class>
                <resourceModel>user_resource</resourceModel>
            </user>
            <user_resource>
                <class>Ccc_User_Model_Resource</class>
                <deprecatedNode>user_mysql4</deprecatedNode>
                <entities>
                    <user>
                        <table>user</table>
                    </user>
                    <user_address>
                        <table>user_address</table>
                    </user_address>
                </entities>
            </user_resource>
        </models>
        <blocks>
            <user>
                <class>Ccc_User_Block</class>
            </user>
        </blocks>
        <helpers>
           <user>
                  <class>Ccc_User_Helper</class>
            </user>
        </helpers>
    </global>
    <admin>
        <routers>
            <user>
                <use>admin</use>
                <args>
                    <module>Ccc_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
        <layout>
            <updates>
                <user>
                    <file>user.xml</file>
                </user>
            </updates>
        </layout>
    </admin>
</config>