<config>
    <modules>
        <Mp_Practise>    
            <version>1.0.1</version>
        </Mp_Practise>
    </modules>
    <global>
        <helpers>
           <practise>
                  <class>Mp_Practise_Helper</class>
            </practise>
        </helpers>
    </global>
    <admin>
        <routers>
            <practise>
                <use>admin</use>
                <args>
                    <module>Mp_Practise</module>
                    <frontName>practise</frontName>
                </args>
            </practise>
        </routers>
    </admin>
</config>