<?xml version="1.0"?>
<config>
    <modules>
        <Mp_Practice>
            <version>1.2.1</version>
        </Mp_Practice>
    </modules> 
    <frontend>
        <routers>
            <practice>
                <use>standard</use>
                <args>
                    <module>Mp_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </frontend>   
    <global>
        <blocks>
            <practice>
                <class>Mp_Practice_Block</class>
            </practice>
        </blocks>
        <helpers>
            <practice>
                <class>Mp_Practice_Helper</class>
            </practice>
        </helpers>
    </global>
    <admin>
        <routers>
            <practice>
                <use>admin</use>
                <args>
                    <module>Mp_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </admin>
</config>