<config>
    <modules>
        <Mp_Brand>    
            <version>1.2.0</version>
        </Mp_Brand>
    </modules>
    <global>
        <models>
            <brand>
                <class>Mp_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Mp_Brand_Model_Resource</class>
                <deprecatedNode>brand_mysql4</deprecatedNode>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_resource>
        </models>
        <blocks>
            <brand>
                <class>Mp_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
           <brand>
                  <class>Mp_Brand_Helper</class>
            </brand>
        </helpers>
        <resources>
            <brand_setup>
                <setup>
                    <module>Mp_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
    </global>
    <admin>
        <routers>
            <brand>
                <use>admin</use>
                <args>
                    <module>Mp_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </brand>
        </routers>
        <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </admin>
</config>