<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Category>    
            <version>1.0.0</version>
        </Ccc_Category>
    </modules>
    <frontend>
        <routers>
          <category>
                <use>standard</use>
                <args>
                    <module>Ccc_Category</module>
                    <frontName>category</frontName>
                </args>
            </category>
        </routers>
        <layout>
            <updates>
                <Category module="Ccc_Category">
                    <file>Ccc_Category.xml</file>
                </Category>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <category>
                <class>Ccc_Category_Model</class>
                <resourceModel>category_resource</resourceModel>
            </category>
            <category_resource>
                <class>Ccc_Category_Model_Resource</class>
                <deprecatedNode>category_mysql4</deprecatedNode>
                <entities>
                    <category>
                        <table>category</table>
                    </category>
                </entities>
            </category_resource>
        </models>
        <blocks>
            <category>
                <class>Ccc_Category_Block</class>
            </category>
        </blocks>
        <helpers>
           <category>
                  <class>Ccc_Category_Helper</class>
            </category>
        </helpers>
    </global>
    <admin>
        <routers>
            <category>
                <use>admin</use>
                <args>
                    <module>Ccc_Category</module>
                    <frontName>category</frontName>
                </args>
            </category>
        </routers>
        <layout>
            <updates>
                <category>
                    <file>category.xml</file>
                </category>
            </updates>
        </layout>
    </admin>
</config>