<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Product>    
            <version>1.0.0</version>
        </Ccc_Product>
    </modules>
    <frontend>
        <routers>
          <product>
                <use>standard</use>
                <args>
                    <module>Ccc_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>
        <layout>
            <updates>
                <Product module="Ccc_Product">
                    <file>Ccc_Product.xml</file>
                </Product>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <product>
                <class>Ccc_Product_Model</class>
                <resourceModel>product_resource</resourceModel>
            </product>
            <product_resource>
                <class>Ccc_Product_Model_Resource</class>
                <deprecatedNode>product_mysql4</deprecatedNode>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </product_resource>
        </models>
        <blocks>
            <product>
                <class>Ccc_Product_Block</class>
            </product>
        </blocks>
        <helpers>
           <product>
                  <class>Ccc_Product_Helper</class>
            </product>
        </helpers>
    </global>
    <admin>
        <routers>
            <product>
                <use>admin</use>
                <args>
                    <module>Ccc_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
    </admin>
</config>