<config>
    <modules>
        <Cybercom_Qualitycheck>
            <version>1.0.0</version>                
        </Cybercom_Qualitycheck>
    </modules>
    <global>
        <models>
            <qualitycheck>
                <class>Cybercom_Qualitycheck_Model</class>
                <resourceModel>qualitycheck_resource</resourceModel>
            </qualitycheck>
            <qualitycheck_resource>
                <class>Cybercom_Qualitycheck_Model_Resource</class>
                <entities>
                    <question>
                        <table>questions</table>
                    </question>
                    <answer>
                        <table>answers</table>
                    </answer>
                </entities>
            </qualitycheck_resource>
        </models>
        <resources>
             <qualitycheck_setup>
                 <setup>
                    <module>Cybercom_Qualitycheck</module>
                 </setup>
             </qualitycheck_setup>
        <qualitycheck_write>
            <connection>
                <use>core_write</use>
            </connection>
        </qualitycheck_write>
        <qualitycheck_read>
            <connection>
                <use>core_read</use>
            </connection>
        </qualitycheck_read>
         </resources>
        <blocks>
            <qualitycheck>
                <class>Cybercom_Qualitycheck_Block</class>
            </qualitycheck>
        </blocks>
        <helpers>
            <qualitycheck>
                <class>Cybercom_Qualitycheck_Helper</class>
            </qualitycheck>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <cybercom_qualitycheck before="Mage_Adminhtml">Cybercom_Qualitycheck_Adminhtml</cybercom_qualitycheck>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <layout>
        <updates>
            <qualitycheck>
                <file>qualitycheck.xml</file>
            </qualitycheck>
        </updates>
    </layout>
</config>
