<config>
    <modules>
        <Mp_Product>    
            <version>1.0.1</version>
        </Mp_Product>
    </modules>
    <global>
        <models>
            <product>
                <class>Mp_Product_Model</class>
                <resourceModel>product_resource</resourceModel>
            </product>
            <product_resource>
                <class>Mp_Product_Model_Resource</class>
                <deprecatedNode>product_mysql4</deprecatedNode>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </product_resource>
        </models>
        <blocks>
            <product>
                <class>Mp_Product_Block</class>
            </product>
        </blocks>
        <helpers>
           <product>
                  <class>Mp_Product_Helper</class>
            </product>
        </helpers>
        <resources>
            <product_setup>
                <setup>
                    <module>Mp_Product</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </product_setup>
            <product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_write>
            <product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_read>
        </resources>
    </global>
    <admin>
        <routers>
            <product>
                <use>admin</use>
                <args>
                    <module>Mp_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
    </admin>
</config>