<config>
    <modules>
        <Mp_Category>    
            <version>1.0.1</version>
        </Mp_Category>
    </modules>
    <global>
        <models>
            <category>
                <class>Mp_Category_Model</class>
                <resourceModel>category_resource</resourceModel>
            </category>
            <category_resource>
                <class>Mp_Category_Model_Resource</class>
                <deprecatedNode>category_mysql4</deprecatedNode>
                <entities>
                    <category>
                        <table>category</table>
                    </category>
                </entities>
            </category_resource>
        </models>
        <blocks>
            <category>
                <class>Mp_Category_Block</class>
            </category>
        </blocks>
        <helpers>
           <category>
                  <class>Mp_Category_Helper</class>
            </category>
        </helpers>
        <resources>
            <category_setup>
                <setup>
                    <module>Mp_Category</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </category_setup>
            <category_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </category_write>
            <category_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </category_read>
        </resources>
    </global>
    <admin>
        <routers>
            <category>
                <use>admin</use>
                <args>
                    <module>Mp_Category</module>
                    <frontName>category</frontName>
                </args>
            </category>
        </routers>
        <layout>
            <updates>
                <category>
                    <file>category.xml</file>
                </category>
            </updates>
        </layout>
    </admin>
</config>